<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="user-implements.xml"/>

    <bean id="userService" class="com.mindfine.Spring.FirstSpring.service.UserService">
        <property name="dao" ref="user_db"/>
    </bean>

    <bean id="db" class="com.mindfine.Spring.FirstSpring.DB.DB">
        <property name="url" value="jdbc:mysql://localhost:3306/FirstSpring"/>
        <property name="user" value="root"/>
        <property name="pass" value="password"/>
    </bean>

</beans>